@import 'resources';

$color--blue: color('blue-light');

h5 {
    font-weight: bold;
    font-size: 1rem;
    color: $color--blue;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
