$default-font-size: 100%;
$font-family-open-sans: 'Open Sans';
$font-family-main : $font-family-open-sans,
helvetica,
arial,
sans-serif;
$default-form-font-size: 0.9rem;
$form-font-size-s: 0.8rem;
$default-form-label-font-size: 1rem;
